.root {
    height: 78px;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 7%;
}

.nav-link {
    color: #eee;
    margin: 1rem;
}
