.root {
    height: 78px;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 7%;
    top: 5%;
}

.nav-link {
    color: #eee;
    margin: 1rem;
    font-family: Outfit;
    font-size: 1.1rem;
    font-weight: bold;
}

.connect-wallet {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    background-color: #7289da;
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    text-transform: none;
    width: 12rem;
    height: 3.2rem;
}