.title-container {
    max-width: 50%;
    margin: 0 0 0 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    z-index: 1;
}

.main-title {
    margin: 0;
    font-size: 6rem;
    color: #eee;
    line-height: 105%;
}

.gradient {
    background: #4bbfc7;
    background: linear-gradient(to right, #4bbfc7 0%, #B87DB4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.description {
    font-size: 1.5rem;
    color: #D4D4D4;
    font-weight: 300;
}

/* color: '#D4D4D4',
fontSize: '1.5rem',
marginTop: '2rem',
fontFamily: 'Montserrat' */
