.title-container {
    max-width: 50%;
    margin: 0 0 0 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: absolute;
}

.main-title {
    margin: 0;
    font-size: 6rem;
    color: #eee;
    line-height: 105%;
}

.gradient {
    background: #4bbfc7;
    background: linear-gradient(to right, #4bbfc7 0%, #B87DB4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.description {
    font-size: 1.5rem;
    color: #D4D4D4;
    font-weight: 300;
    width: 90%;
}

.join-discord {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 1.5rem 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    background-color: #7289da;
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    text-transform: none;
    width: 12rem;
    height: 3.2rem;
}
.view-whitepaper {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 1.5rem 0px 0px 2rem;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    background-color: transparent;
    border: 1px solid #7289da;
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    text-transform: none;
    width: 12rem;
    height: 3.2rem;
    
}


@media screen and (max-height: 900px) {
    .main-title {
        font-size: 4rem;
    }
    .description {
        font-size: 1rem;
    }
    .title-container {
        max-width: 43%;
    }

    .join-discord {
        width: 9rem;
        height: 3rem;
    }
    .view-whitepaper {
        width: 9rem;
        height: 3rem;
    }
}