.root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(18,19,30);
  background: linear-gradient(90deg, rgba(18,19,30,1) 40%, rgba(41,19,72,1) 100%);
}

.landing-image {
  max-height: 70%;
  display: flex;
  align-items: center;
  position: absolute;
  width: 643px;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-height: 900px) {
  .landing-image {
    right: 0;
  }
}